<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <img class="logo" src="img/logo tommy emmanuel.png" alt= "logo">
        <nav> 
            <ul id="nav-links"> 
                <li><a href="/"> Home </a></li> 
                <li><a href='/about'> About </a>  </li>
                <li><a href="/works"> Works </a>  </li>
                <li><a href="/contact"> Contact </a> </li></ul>
        </nav>
        <a class="cta" href="https://www.youtube.com/watch?v=sV1e-iSo5As"><button>Listen</button></a>
    </header>
    <div class="container">
        
        <div class="homeText">
        <h1>About Tommy </h1>
        <p>William Thomas Emmanuel (born 31 May 1955) is an Australian guitarist. 
            Regarded as one of the greatest acoustic guitarists of all time,
            he is known for his complex fingerstyle technique, 
            energetic performances and use of percussive effects on the instrument.
             Originally a session player in many bands, Emmanuel carved out his own style as a solo artist, 
             releasing many award-winning albums and singles. 
             In June 2010 Emmanuel was appointed a Member of the Order of Australia, 
             and in 2011 he was inducted into the Australian Roll of Renown.</p>
            </div>
    

    

    <img class="aboutImg" src="img/Tommy Emmanuel 3.jpg " alt="Tommy Landing about" />
        </div>
</body>
</html>