<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav> 
            <ul id="nav-links"> 
                <li><a href="/"> Home </a></li> 
                <li><a href='/about'> About </a>  </li>
                <li><a href="/works"> Works </a>  </li>
                <li><a href="/contact"> Contact </a> </li></ul>
        </nav>
        <a class="cta" href="https://www.youtube.com/watch?v=sV1e-iSo5As"><button>Listen</button></a>
    </header>
    <div class="containerContact">
        
        <div class="contactText">
        
        <p> 
            
            Meet & Greet<br>
            Meet Tommy before his show. <br><br>
            
            Maton 808 Meet & Greet<br>
            Purchase your very own EBG808TE Maton guitar.<br><br>
            
            Maton 808 Cutaway Meet & Greet<br>
            Purchase your very own EBG808TEC Cutaway Maton guitar.<br><br>
            
            General Enquiries<br>
            General questions email info@tommyemmanuel.com<br><br>
            
            Booking<br>
            Africa, Asia, and South America<br>
            The Kurland Agency<br><br>
            
            Australia<br>
            Lewis & Potts<br><br>
            
            Europe<br>
            Asgard Artists<br><br>
            
            North America<br>
            High Road Touring</p>
            </div>
        </div>
    <img class="contactImg" src="img/Tommy Emmanuel 5.jpeg" alt="Tommy Landing contact">
</body>
</html>