<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="container">
        
        
        <nav> 
            <ul id="nav-links"> 
                <li><a href="/"> Home </a></li> 
                <li><a href='/about'> About </a>  </li>
                <li><a href="/works"> Works </a>  </li>
                <li><a href="/contact"> Contact </a> </li></ul>
            
        </nav>
        
    </header>
    

    <div class="worksText">
        
        
        <p> From Out of Nowhere (1979)<br>
            Up from Down Under (1987)<br>
            Dare to Be Different (1990)<br>
            Determination (1991)<br>
            The Journey (1993)<br>
            Terra Firma (1994)<br>
            Classical Gas (1995)<br>
            Initiation (1995)<br>
            Can't Get Enough (1996)<br>
            Midnight Drive (1997)<br>
            Collaboration (1998)<br>
            Only (2000)<br>
            Endless Road (2004)<br>
            Live One (2005)<br>
            The Mystery (2006)<br>
            Happy Hour (2006)<br>
            Center Stage (2008)<br>
            Little by Little (2010)<br>
            All I Want(2011)<br>
            Tommy & Friends Live (2011)<br>
            The Colonel(2013)<br>
            Never Too Late (2015)<br>
            Christmas Memories (2016)<br>
            Live at the Ryman (2017)<br>
            Pickin (2017)<br>
            Accomplice One (2018)<br>
            Heart Songs (2019)<br>
            Live!(2020)<br>
            Live: Balboa Theatre (2021)<br>
            Imagine LP (2021)</p>
            <a class="ctaWorks" href="https://www.youtube.com/watch?v=sV1e-iSo5As"><button>Listen</button></a>
            </div>
        </div>
    <img class="worksImg" src="img/Tommy Emmanuel 4.jpeg" alt="Tommy Landing works"> 
    

</body>
</html>